/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/


/*************** Custom Propertys ****************/
:root{
    --unidad-seleccion: 5;
    --ancho-imagen: min(50vh, 50vw);
    --bg-color: #000505;
    --primary-color: #047;
    --primary-color-alpha: #0473;
}


/********* Reset *************/
*, *::before, *::after{
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
html{
    font-size: 16px;
}
body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--bg-color);
    min-height: 100vh;
    color: #eee;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-size: 1.3em;
}
img{
    display: inline-block;
}

a{
    display: inline-block;
    color: inherit;
}

/*************** Styles ***********/


/***** Layout ****/


header, footer{
    background-color: var(--primary-color);
    padding: 1em;
    text-align: center;
}


main{
    display: block;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
    padding: 1em;
}


/********** Generales **********/


.inputs{
    width: 90%;
    margin: .5em auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.input{
    display: block;
    margin: 1em auto;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    width: min(300px, 80%);
    padding: .3em 1em;
    background-color: transparent;
    border: none;
    font-size: 1em;
    color: inherit;
    outline: none;
    text-align: center;
    border: solid 1px var(--primary-color);
    border-radius: 100vh;
}
.input:focus{
    -webkit-box-shadow:0 0 .5em #fff;
            box-shadow:0 0 .5em #fff;
}


.producto{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--ancho-imagen), 50%));
    grid-auto-rows: var(--ancho-imagen);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;

    grid-row-gap: 1em;
    width: 100%;
    margin: 1em auto;
}

.producto-img-container{
    position: relative;
    display: block;
    overflow: hidden;    
    width: var(--ancho-imagen);
    height: var(--ancho-imagen);
    margin: 1em;
    background-color: #222;
}
.producto-img{
    display: block;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
    width: 100%;
    height: 100%;

}
.producto-img-seleccion{
    position: absolute;
    display: block;
    width: calc(100% / var(--unidad-seleccion));
    height: calc(100% / var(--unidad-seleccion));
    margin-left: calc( (100% / var(--unidad-seleccion)) / -2 );
    margin-top: calc( (100% / var(--unidad-seleccion)) / -2 );

    border: solid thin #000;
    background-color: var(--primary-color-alpha);
    z-index: 20;
}

.producto-miniatura{
    position: relative;
    display: block;
    width: var(--ancho-imagen);
    height: var(--ancho-imagen);
    margin: 1em;
    overflow: hidden;
    background-color: #222;
}
.producto-miniatura-img{
    position: absolute;
    display: block;
    width: calc(100% * var(--unidad-seleccion));
    height: calc(100% * var(--unidad-seleccion));
    -o-object-fit: contain;
       object-fit: contain;
    margin-left: 50%;
    margin-top: 50%;
}




/*info*/

.seccion-info{
    display: block;
    width: 90%;
    margin: 1em auto;
    text-align: center;
}

/************** Responsive Design **********/


@media screen and (max-width: 900px){
    html{
        font-size: 14px;
    }
}

@media screen and (max-width: 700px){
    html{
        font-size: 13px;
    }
    .producto{
        /*flex-direction: column;*/
    }
}